{%- comment -%}
Include vars:
        class
{%- endcomment -%}

{% case page.language %}

{% when "chinese" %}
{% assign links = site.data.tools.chinese %}

{% when "english" %}
{% assign links = site.data.tools.english %}

{% when "english" %}
{% assign links = site.data.tools.english %}

{% when "vietnamese" %}
{% assign links = site.data.tools.vietnamese %}

{% when "thai" %}
{% assign links = site.data.tools.thai %}

{% when "korean" %}
{% assign links = site.data.tools.korean %}

{% when "russian" %}
{% assign links = site.data.tools.russian %}

{% when "italian" %}
{% assign links = site.data.tools.italian %}

{% when "french" %}
{% assign links = site.data.tools.french %}

{% when "japanese" %}
{% assign links = site.data.tools.japanese %}

{% when "german" %}
{% assign links = site.data.tools.german %}

{% when "spanish" %}
{% assign links = site.data.tools.spanish %}

{% when "hindi" %}
{% assign links = site.data.tools.hindi %}

{% when "arabic" %}
{% assign links = site.data.tools.arabic %}

{% when "portuguese" %}
{% assign links = site.data.tools.portuguese %}

{% endcase %}

{% for cate in links %}
<details class="{{ include.class }}" open onmouseover="opendetail(this)">
    <summary>{{ cate.title }}</summary>
    <ul>
        {% for item in cate.items %}
        <li>
            <a href="{{ item.link }}" {% if page.url == item.link %} style="color:white;" {% endif %}>
            {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</details>
    {% endfor %}
