<meta charset="utf-8" content="text/html">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="{{ page.keywrods }}"/>
<link rel="stylesheet" href="/assets/css/style.css">

<!-- ebay -->
<script>window._epn = {campaign:5338384777};</script>
<!--script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script-->
<script async src="/assets/js/epn-smart-tools.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125829567-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-125829567-1');
</script>
<script async src="/assets/js/head.js"></script>

